/* 0px~480px スマホ幅 */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
}

#header-container {
    margin-left: auto;
    margin-right: auto;
    width: var(--phone-content-width);
}

#header-logo {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#header-logo-wrap {
    display: inline;
    padding-top: 20px;
}

#header-logo-image {
    display: inline;
    box-sizing: content-box;
    height: 6vw;
}

#header-logo-text {
    position: relative;
    display: inline;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 0vw;
}

#modal-button {
    display: inline-block;
    padding-top: 30px;
    float: right;
}

#modal-button button {
    background-color: transparent;
    border: none;
}

.line {
    display: block;
    width: calc(15rem/12);
    height: calc(10rem/12);
}

.line-body {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 2px;
    border: 2px black solid;
}

#header-menu {
    display: none;
}

#header-menu-modal {
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    text-align: left;
    background-color: black;
    color: white;
}

#modal-menu-wrapper {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

#modal-menu-wrapper a {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    
}

#white-x-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}

#white-x {
    height: 20px;
    width: 20px;
}

#header-explanation-text {
    padding-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: var(--phone-content-width);
    font-size: 0.5rem;
    font-weight: bold;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

#header-explanation-text p {
    margin-bottom: 20px;
}

#header-explanation-text span {
    padding: 6px 5px;
    background-color: white;
}

#header-image {
    width: 100vw;
    height: 100vh;
    background-image: url('./image/main.jpg');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

/* class */
.sub-title {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.before-title {
    margin-top: 50px;
}

/* service */
#service-explanation {
    width: 75%;
    margin: auto;
    font-size: 0.5rem;
    font-weight: bold;
}

#pricing {
    width: 75%;
    height: 20vh;
    margin: auto;
    margin-top: 5vh;
}

#pricing-individuals {
    width: 48%;
    float: left;
}

#pricing-company {
    width: 48%;
    float: right;
}

.membership-option {
    font-size: 0.5rem;
    font-weight: bold;
}

.membership-border {
    width: 100%;
    border: 1px black solid;
}

.membership-monthly {
    font-size: 0.4rem;
    margin-bottom: 1rem;
}

.membership-monthly span {
    padding: 0.1vw;
    font-weight: bold;
    background-color: black;
    color: white;
}

#supplementary-explanation {
    width: 75%;
    margin: auto;
    margin-bottom: 20vh;
    font-size: 0.5rem;
    font-weight: bold;
}

/* location */
.location-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.location-container .location-background {
    width: 29vw;
    height: 29vw;
    margin-bottom: 1.5vw;
}

#location-katsura {
    background-image: url('./image/location-katsura.jpg');
}

#location-nantan {
    background-image: url('./image/location-nantan.jpg');
}

#location-shiso {
    background-image: url('./image/location-shiso.jpg');
}

#location-mihara {
    background-image: url('./image/location-mihara.jpg');
}

#location-minamiaso {
    background-image: url('./image/location-minamiaso.jpg');
}

#location-higashiyoshino {
    background-image: url('./image/location-higashiyoshino.jpg');
}

.location-background {
    background-size: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.location-name {
    box-sizing: border-box;
    display: none;
    height: 29vw;
    width: 29vw;
    padding-top: 11.5vw;
    text-align: center;
    font-size: 0.3rem;
    background-color: black;
    opacity: 0.7;
    color: white;
    z-index: 1;
}

.location-name p {
    margin: 0;
}

/* steps */
#steps-content {
    /*height: 100vh;*/
}

#steps-container {
    width: 90%;
    margin: auto;
    font-size: 0.5rem;
}

.step-container {
    margin: 30px 0;
    height: 20vh;
}

.step-texts {
    display: inline-block;
    margin: auto;
    width: 60%;
    float: right;
}

.step-title {
    font-weight: bold;
}

.step-container img {
    width: 40%;
    float: left;
}


/* blog */
#blogs-container {
    width: 94%;
    margin: auto;
}

.blog-image {
    width: 100%;
}

.blog p {
    position: relative;
    width: 80%;
    bottom: 170px;
    left: 50px;
    margin-bottom: 0;
    font-size: 0.5rem;
    font-weight: bold;
    color: black;
}

.blog p span {
    background-color: white;
    padding: 3px 5px;
}

/* contact */
#contact-content {
    margin-bottom: 100px;
}

#contact-form {
    width: var(--phone-content-width);
    margin: auto;
    margin-top: 20px;
    padding-left: 45px;
    font-weight: bold;
}

#contact-form label {
    font-size: 0.5rem;
    font-weight: bold;
}

.input-text {
    height: 0.6rem;
    width: 50%;
    margin-left: 4vw;
    font-weight: bold;
    border: none;
}

.input-border {
    width: 50%;
    border: 1px black solid;
    margin-bottom: 20px;
}

.input-border-long {
    width: 75%;
    border: 1px black solid;
    margin-bottom: 20px;
}

.input-border-long-required {
    width: 75%;
    border: 1px black solid;
    margin-bottom: 20px;
}

#contact-content-label {
    display: block;
}

#contact-content-form {
    width: 75%;
    height: 100px;
    border: 2px black solid;
    font-size: 0.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#submit-bottom {
    font-size: 0.5rem;
    font-weight: bold;
    width: 40%;
    padding: 0.2rem;
    border: 2px black solid;
}

#submit-bottom:hover {
    background-color: black;
    border: 4px white solid;
    color: white;
}

/* faq */
#faqs-wrapper {
    width: 90%;
    margin: auto;
    text-align: center;
}

.faq-wrapper {
    margin-top: 20px; 
    margin-bottom: 20px;
}

.faq-wrapper button{
    background-color: transparent;
    border: none;
}

.faq-text {
    display: inline;
    font-size: 0.5rem;
    font-weight: bold;
}

.faq-wrapper img {
    position: relative;
    display: inline;
    height: 0.5rem;
    width: 0.5rem;
    top: 0.2rem;
}

.faq-a {
    font-size: 0.4rem;
}

/* footer */
footer {
    margin-top: 200px;
}

#footer-container {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

#footer-container a img {
    width: 50px;
}

footer p {
    text-align: center;
    font-size: 0.3rem;
    font-weight: bold;
}

