/*  ruteninc.com/index.html 中身 */
/* about */
#about-wrapper {
    width: var(--pc-content-width);
    margin: auto;
}

#vision-and-mission-wrapper {
    width: 80%;
    margin: auto;
}

.vision-wrapper {
    margin-bottom: 50px;
}

.blue-title {
    margin: 0;
    font-size: 2rem;
    color: var(--sub-color-blue);
}

.vision-description {
    font-size: 1.7rem;
}

#ruten-explanation {
    width: var(--pc-content-width);
    margin: auto;
    margin-top: 30vh;
}

#ruten-explanation p {
    font-size: 1rem;
}

/* service */
.service-text-wrapper {
    display: block;
    width: 90%;
    margin: 10px auto;
}

#service-container {
    display: flex;
    width: var(--pc-content-width);
    margin: auto;
    justify-content: space-around;
}

.services {
    width: 30%;
    height: 30vw;
    border: 2px black solid;
    border-radius: 5px;
}

.services a {
    font-size: 1vw;
    color: black;
    text-decoration: none;
}

.services img {
    display: block;
    width: 100%;
    margin: auto;
    transition: transform .1s linear;
}

.service-image-border {
    position: relative;
    bottom: 15px;
    margin: 0;
    padding: 0;
    height: 15px;
    width: 0%;
    background-color: var(--hover-color);
}

.services a:hover .service-image-border {
    width: 100%;
    transition: width .3s ease;
}

.services a:hover img {
    transform: scale(1.1);
}

.services .service-explanation {
    font-size: 1vw;
    font-weight: normal;
}

/* news */
#news-wrapper {
    width: var(--pc-content-width);
    margin: auto;
    border-top: 2px var(--sub-color-blue) solid;
}

.news {
    width: 100%;
    height: 50px;
    padding: 20px 0;
    border-bottom: 1px var(--sub-color-gray) solid;
}

.news-date {
    display: inline;
}

.news-category {
    display: inline;
}

.news-description {
    display: block;
}

/* contact */
#contact-wrapper {
    text-align: center;
}

#contact-mail {
    font-size: 1rem;
}

.fa-envelope {
    font-size: 1rem;
}

#contact-button {
    height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
    border: 2px black solid;
    border-radius: 5px;
    color: black;
    background-color: white;
    transition: .25s;
}

#contact-button:hover, #contact-button:focus {
    box-shadow: inset 8rem 0 0 0 var(--hover-color);
    color: white;
    border-color: white;
}

/* お問い合わせ(ruteninc.com/contact/index.html) */
#contact-content iframe {
    display: block;
    width: 640px;
    height: 1180px;
    margin: auto;
    margin-top: 20vh;
}


