.page-title {
  text-align: center;
  margin-top: 200px;
  font-size: 27px; }

.devagent-sub-block {
  width: var(--pc-content-width);
  margin: auto; }

.devagent-sub-block p {
  font-size: 15px; }

.devagent-results {
  margin-top: 50px; }
