/* 0px~1023px 共通部分 */
* {
    font-weight: bold;
    font-size: 1rem;
}

.sub-title {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--sub-color-blue);
}


/* header */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

#header-container {
    margin-left: auto;
    margin-right: auto;
    width: var(--phone-content-width);
}

#header-logo {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#header-logo-wrap {
    display: inline;
    padding-top: 20px;
}
#header-logo-image {
    display: inline;
    box-sizing: content-box;
    height: 6vw;
}

#header-logo-text {
    position: relative;
    display: inline;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 0vw;
}

#modal-button {
    position: relative;
    z-index: 99999;
    display: inline-block;
    padding-top: 30px;
    float: right;
}

#modal-button button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: calc(20rem/12);
    height: calc(25rem/12);
    border: none;
    background-color: transparent;
    z-index: 9999;
}

.line-body {
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 7px;
    background-color: black;
    transition: .4s;
}

#modal-button .open-modal span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
    background-color: white;
}

#modal-button .open-modal span:nth-of-type(2) {
    opacity: 0;
}

#modal-button .open-modal span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
    background-color: white;
}

#header-menu {
    display: none;
}

#header-menu-modal {
    display: none;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    text-align: left;
    background-color: var(--sub-color-blue);
    color: white;
    opacity: 0;
}

.header-menu-open-modal {
    display: block !important;
    opacity: 1 !important;
    animation: show-modal .5s linear 0s;
}

@keyframes show-modal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#modal-menu-wrapper {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

#modal-menu-wrapper a {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(180deg, transparent 65%, var(--hover-color) 0);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

#modal-menu-wrapper a:hover {
    background-size: 60% 100%;
    transition: background-size .3s ease;
}

#modal-follow-text {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: .5rem;
}

#modal-sns-container {
    display: flex;
    width: 60%;
    margin-left: 10%;
    margin-top: 0;
    justify-content: space-between;
}

#modal-sns-container a i {
    font-size: 1.5rem;
    color: white;
}

#header-explanation-text p {
    margin-bottom: 20px;
}

#header-explanation-text span {
    padding: 6px 5px;
    background-color: white;
}

/* footer */
footer {
    margin-top: 200px;
}

#follow-text {
    font-size: .5rem;
    margin-left: 10%;
    margin-bottom: 10px;
}

#footer-sns-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 60%;
    margin-left: 10%;
}

#footer-sns-container a i {
    font-size: 1.5rem;
    color: black;
}

footer p {
    text-align: center;
    font-size: 0.3rem;
    font-weight: bold;
} 
