/* ruteninc.com/member/index.html スマホ版 */
#member-title {
    font-size: 1rem;
    margin-top: 30vh;
    margin-bottom: 5vh;
    text-align: center;
}

#member-container {
    width: 87vw;
    margin: auto;
}

.member {
    position: relative;
    width: 100%;
    height: 87vw;
}

.member-image-wrapper {
    width: 100%;
    height: 87vw;
}

.member-image-wrapper::after {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50%;
    content: "";
    opacity: 0.65;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.member-image-wrapper img {
    width: 100%;
    height: 87vw;
}

.member-name {
    position: absolute;
    top: 60vw;
    left: 7vw;
    font-size: 1rem;
    color: white;
}

.member-role {
    position: absolute;
    top: 72vw;
    left: 7vw;
    font-size: .7rem;
    color: white;
}

.member-more-wrapper {
    position: absolute;
    top: 70vw;
    left: 70vw;
}

.member-more-wrapper i {
    color: white;
    font-size: 1rem;
    animation: comment-icon  2s infinite ease-out;
    transform-origin: 50% 50%;
    animation-play-state:running
}

@keyframes comment-icon {
    0% { transform: scale(0.8, 0.8); }
    5% { transform: scale(1.5, 1.5); }
    10% { transform: scale(1, 1); }
    15% { transform: scale(1.1, 1.1); }
    20% { transform: scale(1, 1); }
    100% { transform: scale(1, 1); }
}

.member-image-border {
    position: absolute;
    top: 84vw;
    left: 0;
    width: 100%;
    height: 3vw;
    background-color: var(--hover-color); 
}

.member-more-info {
    width: 87vw;
    height: 0;
    overflow: hidden;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10vh;
    background-color: white;
    color: black;
}

.open-more-info {
    animation: open-more-info .3s linear forwards;
}

@keyframes open-more-info {
    0%{
        height: 0;
    }
    100%{
        height: 100vh;
    }
}

.member-more-info-wrapper {
    width: 100%;
    margin: auto;
}

.member-more-info-wrapper p {
    font-size: .4rem;
    color: black;
}

