/*  ruteninc.com/index.html 中身 */
.sub-title {
    margin: 0;
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 2vw;
    color: var(--sub-color-blue);
    font-style: italic;
}

#header-image {
    height: 100vh;
}

#header-image-logo-wrapper {
    overflow: hidden;
    width: 55vw;
    margin-top: 40vh;
    margin-left: 45vw;
}

#top-logo-image {
    height: 40vh;
}

/* top */
#ruten-top-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 25vw;
    padding-top: 40vh;
    background-color: #ffffff;
    z-index: 9999;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#top-image-wrapper {
    width: 100vw;
}

#top-image {
    width: 60%;
    margin-left: 20vw;
    margin-top: 25vh;
}

/* about */
#about-wrapper {
    width: var(--pc-content-width);
    height: 100%;
    background: url(../image/ruten-explanation.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
}

.vision-wrapper {
    margin: 0;
    word-break: normal;
}

.vision-description {
    font-size: 5vw;
    font-weight: normal;
    color: #000000;
    margin-top: 0;
    margin-bottom: 5vh;
    text-align: center;
}

#ruten-explanation {
    height: 100%;
    margin: 0;
    color: #000000;
    text-align: center;
}

#ruten-explanation p {
    font-size: .5rem;
    margin-top: 1rem;
    line-height: .7rem;
}

/* service */
.service-text-wrapper {
    display: block;
    width: 90%;
    margin: 10px auto;
}

#service-container {
    display: flex;
    width: var(--pc-content-width);
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services {
    width: 300px;
    height: 100%;
    border: 2px black solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.services a {
    font-size: 1vw;
    color: black;
    text-decoration: none;
}

.services img {
    display: block;
    width: 100%;
    margin: auto;
    transition: transform .1s linear;
}

.service-image-border {
    position: relative;
    bottom: 15px;
    margin: 0;
    padding: 0;
    height: 15px;
    width: 0%;
    background-color: var(--hover-color);
}

.services a:hover .service-image-border {
    width: 100%;
    transition: width .3s ease;
}

.services a:hover img {
    transform: scale(1.1);
}

.services .service-explanation {
    font-size: 1vw;
    font-weight: normal;
}

/* news */
#news-wrapper {
    width: var(--pc-content-width);
    margin: auto;
    border-top: 2px var(--sub-color-blue) solid;
    font-size: .5rem;
}

.news {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px var(--sub-color-gray) solid;
}

.news-date {
    display: inline;
}

.news-category {
    display: inline;
}

.news-description {
    display: block;
}

/* company infomation */
#company-info-wrapper {
    width: var(--pc-content-width);
    max-width: 550px;
    margin: auto;
}

/* contact */
#contact-wrapper {
    width: var(--pc-content-width); 
    margin: auto;
}

#contact-mail {
    font-size: 2vw;
    text-align: center;
}

#contact-or {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 2vw;
    text-align: center;
}

#contact-wrapper a {
    display: block;
    width: 20vw;
    margin: auto;
}

.fa-envelope {
    font-size: 2vw;
}

#contact-button {
    width: 100%;
    height: 3vw;
    padding: 0 2vw;
    margin: auto;
    font-size: 1.5vw;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 5px;
    color: black;
    background-color: white;
    transition: .25s;
}

#contact-button:hover, #contact-button:focus {
    box-shadow: inset 15rem 0 0 0 var(--sub-color-blue);
    color: white;
    border-color: white;
}

/* お問い合わせ(ruteninc.com/contact/index.html) */
#contact-text-wrapper {
    width: 640px;
    margin: auto;
    margin-top: 30vh;
    font-size: .5rem;
    text-align: center;
}

#contact-text-wrapper li {
    font-size: 0.5rem;
}

#contact-content iframe {
    display: block;
    width: 640px;
    height: 1180px;
    margin: auto;
    margin-top: 5vh;
}
