/* 0px~480px スマホ幅 */
.sub-title {
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.before-title {
    margin-top: 50px;
}

/* header */
#ruten-images-slider-wrapper {
    margin: 0;
    padding: 0;
    height: 100vw;
    width: 100%;
}

#side-circles {
    display: inline;
    margin: 0;
    padding: 0;
    padding-top: 44vw;
    height: 52vw;
    width: 12vw;
    float: left;
}

.office-image {
    display: inline;
    margin: 0;
    margin-right: 8vw;
    padding: 0;
    padding-top: 44vw;
    height: 52vw;
    width: 80vw;
    float: right;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.fadeInImage {
    opacity: 1;
}

/* service */
#service-ruten-content {
    margin-top: 150px;
}

#service-explanation {
    width: 75%;
    margin: auto;
}

#service-explanation p {
    font-size: .5rem;
}

#pricing {
    width: 75%;
    height: 30vh;
    margin: auto;
    margin-top: 5vh;
}

#pricing-individuals {
    width: 48%;
    float: left;
}

#pricing-company {
    width: 48%;
    float: right;
}

.membership-option {
    font-size: 0.5rem;
}

.membership-border {
    width: 100%;
    border: 1px black solid;
}

.membership-monthly {
    font-size: 0.4rem;
    margin-bottom: 1rem;
}

.membership-monthly span {
    padding: 0.1vw;
    font-size: .4rem;
    background-color: black;
    color: white;
}

#supplementary-explanation {
    width: 75%;
    margin: auto;
    margin-bottom: 20vh;
}

#supplementary-explanation p {
    font-size: .5rem;
}

/* location */
.location-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.location-container .location-background {
    width: 29vw;
    height: 29vw;
    margin-bottom: 1.5vw;
}

#location-katsura {
    background-image: url('../location-image/location-katsura.jpg');
}

#location-nantan {
    background-image: url('../location-image/location-nantan.jpg');
}

#location-shiso {
    background-image: url('../location-image/location-shiso.jpg');
}

#location-mihara {
    background-image: url('../location-image/location-mihara.jpg');
}

#location-minamiaso {
    background-image: url('../location-image/location-minamiaso.jpg');
}

#location-higashiyoshino {
    background-image: url('../location-image/location-higashiyoshino.jpg');
}

.location-background {
    background-size: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.location-name {
    box-sizing: border-box;
    display: none;
    height: 29vw;
    width: 29vw;
    padding-top: 11.5vw;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    color: white;
    z-index: 1;
}

.location-name p {
    margin: 0;
    font-size: .3rem;
}

/* steps */
#steps-content {
    /*height: 100vh;*/
}

#steps-container {
    width: 90%;
    margin: auto;
    font-size: 0.5rem;
}

.step-container {
    margin: 30px 0;
    height: 20vh;
}

.step-texts {
    display: inline-block;
    margin: auto;
    width: 60%;
    float: right;
}

.step-title {
    font-weight: bold;
}

.step-container img {
    width: 40%;
    float: left;
}

.step-title {
   font-size: .5rem;
   font-weight: bold; 
}

.step-description {
    font-size: .5rem;
    font-weight: normal;
}

/* faq */
#faqs-wrapper {
    width: 90%;
    margin: auto;
    text-align: center;
}

.faq-wrapper {
    margin-top: 20px; 
    margin-bottom: 20px;
}

.faq-wrapper button{
    background-color: transparent;
    border: none;
}

.faq-text {
    display: inline;
    font-size: 0.5rem;
    font-weight: bold;
}

.faq-wrapper img {
    position: relative;
    display: inline;
    height: 0.5rem;
    width: 0.5rem;
    top: 0.2rem;
}

.faq-a {
    font-size: 0.4rem;
}
