.page-title {
    text-align:center;
    margin-top:150px;
    font-size:27px;
}

.devagent-sub-block {
    width: var(--phone-content-width);
    margin:auto;
}

.devagent-sub-block p {
    font-size:15px;
    white-space: pre-wrap;
}

.devagent-results {
    margin-top:50px;
}
